<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.mina" level="warn"/>
    <logger name="io.netty.util" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="TRACE" />
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
