version: '3.7'
services:
  orion-web:
    build:
      context: ../maplebit
    container_name: orion-web
    volumes:
      - ../maplebit/MapleBit/:/var/www/html
    depends_on:
      orion-db:
        condition: service_healthy
    ports:
      - 127.0.0.1:8000:80
  orion-db:
    image: mysql:5.6
    container_name: orion-db
    restart: always
    command: >
      bash -c "
      chmod 644 /etc/mysql/conf.d/*.cnf
      && /entrypoint.sh mysqld
      "
    volumes:
      - orion:/var/lib/mysql
      - ./database/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./database/schema.sql:/docker-entrypoint-initdb.d/0_init.sql
    ports:
      - 127.0.0.1:7900:3306
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 15s
      retries: 3
  orion-server:
    container_name: orion-server
    image: orionms
    build:
      context: .
    extra_hosts:
      - orion-public:${PUBLIC_IP}
    depends_on:
      orion-db:
        condition: service_healthy
    volumes:
      - ./dist:/orion/dist
    ports:
      - 8484:8484
      - 8585-8590:8585-8590
      - 8799:8799
volumes:
  orion: